@font-face{
    /* https://fonts.google.com/specimen/Fjalla+One */
    font-family: Fjalla-One;
    src: url('fjalla-one.woff2') format('woff2');
}
@font-face{
    /* https://github.com/moonspam/NanumBarunGothic */
    font-family: Nanum;
    src: url('nanum.woff2') format('woff2');
}
body {
    padding: 0;
    margin: 0;
    font-family: Nanum;
}
header {
    font-family: Fjalla-One;
    font-size: 3em;
    width: 100%;
    color: #eee;
    background-color: #333;
}
header div {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 2pt;
}
header p {
    font-size: 0.1em;
}
footer {
    padding: 10pt;
    max-width: 1024px;
    font-size: 0.8em;
    margin: 0 auto;
}
article {
    padding: 10pt;
    max-width: 1024px;
    line-height: 2.0em;
    font-size: 0.9em;
    margin: 0 auto;
}
article h2 {
    font-size: 1.2em;
    font-weight: normal;
}
article span.date {
    font-family: Fjalla-One;
    font-size: 0.7em;
    color: #888;
}
